{% extends 'base.html.twig' %}

{% block title %}Sign Up
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}
	<div class="container shadow-sm p-5 mt-5 mb-5 bg-white rounded">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label == 'error' ? 'danger' : (label == 'success' ? 'success' : 'info') }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}
		<h1 class="my-4 text-center">Sign Up</h1>

		{{ form_start(form, {'attr': {'data-turbo': 'false', 'novalidate': 'novalidate'}}) }}

		{% for field in [form.name, form.surname, form.email, form.phone, form.addresse, form.password, form.profilePhoto, form.role,form.recaptcha] %}
			<div class="mb-3">
				{{ form_label(field) }}
				{{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
				{% if field.vars.errors|length > 0 %}
					<div class="text-danger small">{{ form_errors(field) }}</div>
				{% endif %}
			</div>
		{% endfor %}

		{{ form_end(form) }}
	</div>
{% endblock %}
